@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

:root {
  --color-bg: #000033;
  --color-bg-variant: #0066CC;
  --color-yellow: #FFCE67;
  --color-pink: #FD6687;
  --color-light: #EDEDED;
  --color-dark: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'ABeeZee', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--color-bg);
}

.container {
  margin: 0 auto;
}

p {
  font-size: 5.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}